@page
@model BloodNetwork.Pages.Clinics.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adaugă o nouă clinică</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clinic.Name" class="control-label"></label>
                <input asp-for="Clinic.Name" class="form-control" />
                <span asp-validation-for="Clinic.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinic.Quantity" class="control-label"></label>
                <input asp-for="Clinic.Quantity" class="form-control" />
                <span asp-validation-for="Clinic.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinic.Phone" class="control-label"></label>
                <input asp-for="Clinic.Phone" class="form-control" />
                <span asp-validation-for="Clinic.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinic.DoctorID" class="control-label">Doctor Name</label>
                <select asp-for="Clinic.DoctorID" class="form-control" asp-items="ViewBag.DoctorID">
                </select>
                <span asp-validation-for="Clinic.DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinic.AdressID" class="control-label">Adress Name</label>
                <select asp-for="Clinic.AdressID" class="form-control" asp-items="ViewBag.AdressID">
                </select>
                <span asp-validation-for="Clinic.AdressID" class="text-danger"></span>
            </div>
             <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.AssignedCategoryDataList)
 {
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
 }
 @:<td>
 <input type="checkbox" name="selectedCategories" value="@cat.CategoryID" @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
 }
 </table>
 </div>
 </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
