@page
@model BloodNetwork.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii doctori</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor?.ID">Edit</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
