@page
@model BloodNetwork.Pages.Doctors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifică doctori</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.ID" />
             <div class="form-group">
                <img id="ProfilePicturePreview"/>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.ProfilePictureURL" class="control-label"></label>
                <input asp-for="Doctor.ProfilePictureURL" class="form-control" />
                <span asp-validation-for="Doctor.ProfilePictureURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.DoctorName" class="control-label"></label>
                <input asp-for="Doctor.DoctorName" class="form-control" />
                <span asp-validation-for="Doctor.DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Number" class="control-label"></label>
                <input asp-for="Doctor.Number" class="form-control" />
                <span asp-validation-for="Doctor.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la listă</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
