@page
@model BloodNetwork.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Programează-te</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.MemberID" class="control-label"></label>
                <select asp-for="Appointment.MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Member" class="control-label"></label>
                <input asp-for="Appointment.Member" class="form-control" />
                <span asp-validation-for="Appointment.Member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ClinicID" class="control-label"></label>
                <select asp-for="Appointment.ClinicID" class ="form-control" asp-items="ViewBag.ClinicID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="letter-spacing: 2px; color: #F72F05;" for="hour">Ora</label>
                <input type="datetime" class="form-control" id="hour" placeholder="Ora ta" name="hour" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la listă</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
