@page
@model BloodNetwork.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifică</h1>

<h4>Programări</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.ID" />
            <div class="form-group">
                <label asp-for="Appointment.MemberID" class="control-label"></label>
                <select asp-for="Appointment.MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="Appointment.MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ClinicID" class="control-label"></label>
                <select asp-for="Appointment.ClinicID" class="form-control" asp-items="ViewBag.ClinicID"></select>
                <span asp-validation-for="Appointment.ClinicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentTime" class="control-label"></label>
                <input asp-for="Appointment.AppointmentTime" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la listă</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
